@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #29daaa;
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 56px;
  border-radius: 53px;
  background: #29daaa;
  box-shadow:  5px 5px 10px #1b9272,
              -5px -5px 10px #37ffe2;
}
.wrapper .title{
  height: 90px;
  background: #29daaa;
  border-radius: 54px 54px 0 0;
  color: rgba(255, 255, 255, 0.844);;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  color: rgba(255, 255, 255, 0.844);
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 60px;
  border-radius: 56px;
  border-radius: 53px;
  border-radius: 53px;
  background: #29daaa;
  box-shadow: inset 5px 5px 10px #1b9272,
              inset -5px -5px 10px #37ffe2;
  font-size: 16px;
  transition: all 0.3s ease;
}
.wrapper form .row input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.844);
  transition: all 0.3s ease;
}
.wrapper form .row input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.580);
  transition: all 0.3s ease;
}
form .row input::placeholder{
  color: rgba(255, 255, 255, 0.535);
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: rgba(255, 255, 255, 0.535);
  font-size: 18px;
  background: #29daaa;
  border-radius: 56px 0 0 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #29daaa;
  box-shadow: inset 5px 5px 10px #1b9272,
              inset -5px -5px 10px #37ffe2;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color:rgba(255, 255, 255, 0.535);
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.844);
}
.wrapper form .button input{
  color: rgba(255, 255, 255, 0.535);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #29daaa;
  cursor: pointer;
  border-radius: 53px;
  border-radius: 53px;
  background: #29daaa;
  box-shadow:  5px 5px 10px #1b9272,
               -5px -5px 10px #37ffe2;
  }
.wrapper form .button input:hover{
  color: rgba(255, 255, 255, 0.844);
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link p{
  color: rgba(0, 0, 0, 0.535);
}
.wrapper form .signup-link a{
  color: rgba(255, 255, 255, 0.535);
  text-decoration: none;
  transition: all 0.3s ease;
}
form .signup-link a:hover{
  text-decoration: underline;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.844);
}
